#content {
  position: relative;
  z-index: 2;
  max-width: 1140px;

  margin: 94px auto 0;
  display: flex;
  justify-content: space-between;

  color: var(--text-color);
}
#content h2,
#content h3 {
  color: var(--text-color);

  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
#content-left {
  margin-left: -2px;
}

#content-left h1 {
  max-width: 362px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

.gradient {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%, #e4e5ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-left {
  font-weight: 900;
  display: table;
}

#content-left p {
  max-width: 275px;

  margin-top: 30px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

#content-right {
  max-width: 500px;
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  text-align: right;
}

#content-right h2 {
  max-width: 290px;
}

.gradient-right {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.049em;
}

/* #content-right .gift-block .gradient {
  display: none;
  font-weight: 900;
} */

#content-right p {
  max-height: 40px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.gift {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 31px;
}

.gift-block {
  width: 135px;
}

.gift-block-h3 {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.gift-block-p {
  margin-top: 6px;
}

button {
  width: 262px;
  height: 60px;

  margin-top: 64px;
  background: var(--blue-color);
  border: none;
  color: var(--text-color);

  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
}

button:active {
  background-color: #333;
  border: 1px solid red;
  color: #eee;
}

@media screen and (max-width: 1200px) {
  #content {
    max-width: 900px;
  }

  #content-right p {
    font-size: 14px;
  }

  #content-left p {
    font-size: 16px;
  }

  button {
    width: 200px;
    height: 50px;
    font-size: 14px;
  }
}
@media screen and (max-width: 968px) {
  #content {
    max-width: 756px;
  }
}

@media screen and (max-width: 796px) {
  #content {
    width: 100%;
    margin-top: 40px;
  }

  #content-left h1,
  #content-left h1 span {
    width: 100%;
    margin: 0 15px 0 0;
    text-align: center;
  }

  #content-left p {
    width: 450px;
    margin: 15px 15px 0 0;
    font-size: 18px;
  }

  #content-right {
    text-align: center;
    align-items: center;
    margin: 45px 0 0 0;
  }

  .gift {
    justify-content: center;
    text-align: center;
  }

  .gift-block {
    margin-left: 36px;
  }

  #content-right p {
    font-size: 14px;
  }

  button {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  #content-left {
    justify-content: left;
  }

  #content-left h1 {
    margin: 0 0 0 15px;
  }

  #content-left h1,
  #content-left h1 span {
    width: 100%;
    font-size: 36px;
    text-align: left;
  }

  #content-left p {
    width: 450px;
    margin: 15px 15px 0 15px;
    font-size: 18px;
    text-align: left;
  }

  #content-right {
    text-align: left;
    align-items: unset;
    justify-self: unset;
    margin: 45px 0 0 0;
  }
  #content-right h2,
  #content_right .gift {
    margin-left: 15px;
  }

  #content-right h3 {
    font-size: 13px;
  }

  .gift {
    justify-content: unset;
  }

  #content-right .gift-block .gradient {
    display: block;
  }

  #content-right .gift-block p {
    display: none;
  }

  .gift {
    margin-left: 15px;
  }

  .gift-block {
    width: 145px;
    display: flex;
    font-size: 13px;
    margin-left: 0;
  }

  #content-right h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  button {
    display: none;
  }

  h3 span {
    display: none;
  }

  .gift-block-1::after {
    content: "SKYPE АУДИТ";
  }
  .gift-block-2::after {
    content: "30 виджетов";
    text-transform: uppercase;
  }
  .gift-block-3::after {
    content: "Dashboard";
    text-transform: uppercase;
  }
  .gift-block-4::after {
    content: "Месяц аmoCRM";
    text-transform: uppercase;
  }

  .Line-9 {
    width: 10px;
    height: 1px;
    margin-top: 8px;
    margin-right: 5px;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  }
}
