header .a {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

header p {
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 300;
  color: var(--text-color);
}

:root {
  --text-color: #e4e5ea;
}

header {
  position: relative;
  z-index: 2;

  width: 1140px;

  margin-top: 57px;

  display: flex;
  justify-content: space-between;
}

#logo_welbex p {
  width: 140px;
  height: 24px;

  margin-top: 7px;
}

#menu {
  flex: 1 0 auto;

  margin-top: 3px;
  margin-left: 22px;
}

#menu a {
  margin-left: 30px;

  text-decoration: none;
}

#contact_information a {
  text-align: right;
  text-decoration: none;
}
.tell {
  padding-right: 15px;
}

#contact_information img {
  padding-top: 5px;
  margin-left: 33px;
}

@media screen and (max-width: 1200px) {
  header {
    width: 900px;
  }

  .a {
    font-size: 14px;
  }

  #contact_information img {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 968px) {
  header {
    width: 756px;
  }

  #contact_information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #contact_information img {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 796px) {
  header {
    width: 100%;

    background: #1e1e1e;
    margin-top: 0px;
    height: 55px;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
  }

  #menu {
    display: flex;
    justify-content: center;
  }

  #menu a {
    margin-left: 10px;
  }

  #logo_welbex,
  #contact_information {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  header #menu a:last-child {
    display: none;
  }

  header #menu a {
    margin-left: 15px;
    padding-left: 0;
    font-size: 12px;
  }
}
