backgroundBall {
  width: 100%;
}
.redLight {
  position: fixed;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;

  background: #961a1a;
  opacity: 0.5;
  filter: blur(196px);
}

.redBall {
  position: fixed;
  width: 83px;
  height: 83px;
  left: 36%;
  top: 83px;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 41.5px;
}

.purpleBall {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 60%;
  top: -2px;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
  border-radius: 30px;
}

.redMinBall {
  position: fixed;
  width: 28px;
  height: 28px;
  left: 59%;
  top: 71%;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
  border-radius: 14px;
}

.purpleLight {
  position: fixed;
  width: 259px;
  height: 259px;
  left: 42%;
  top: -154px;

  background: #833ab4;
  opacity: 1;
  filter: blur(196px);
}
@media screen and (max-width: 796px) {
  .glass {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: radial-gradient(
      238.53% 189.02% at 3.2% 3.49%,
      rgba(255, 246, 233, 0.1) 0%,
      rgba(26, 29, 35, 0.1) 26.62%,
      rgba(26, 29, 35, 0.1) 52.1%,
      rgba(26, 29, 35, 0.01) 70.17%,
      rgba(26, 29, 35, 0) 100%
    );
    backdrop-filter: blur(7.5px);
  }

  .noise {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background: url(../img/noise.png);
    mix-blend-mode: overlay;
  }
}

@media screen and (max-width: 576px) {
  .purpleLight {
    left: 80%;
    top: 162px;

    opacity: 0.5;
  }

  .redLight {
    width: 211px;
    height: 211px;
    left: -55px;
    top: 296px;

    opacity: 0.5;
  }

  .redBall {
    width: 43px;
    height: 43px;
    left: 9%;
    top: 457px;
  }

  .purpleBall {
    width: 40px;
    height: 40px;
    left: 93%;
    top: 291px;
  }
}
