#content {
  flex: 1 1 auto;

  margin-top: 94px;
  display: flex;
  justify-content: space-between;
}

#content-left h1 {
  width: 362px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #e4e5ea;
}

.gradient {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%, #e4e5ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#content-left .gradient {
  font-weight: 900;
  display: table;
}

#content-left p {
  width: 275px;

  margin-top: 30px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #e4e5ea;
}

#content-right {
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  text-align: right;
}

#content-right h2 {
  width: 291px;

  color: #e4e5ea;

  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

#content-right .gradient {
  font-weight: 700;
}

#content-right h3 {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #e4e5ea;
}

#content-right p {
  height: 40px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e4e5ea;
}

.gift {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.gift-block {
  width: 170px;
  margin-top: 30px;
  margin-left: 36px;
}

button {
  width: 262px;
  height: 61px;

  margin-top: 61px;
  background: #4077f3;
}

button:hover {
  border: 2px solid #634040;
}

button:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}
