header {
  width: 1140px;
  margin-top: 46px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

#content h1 {
  width: 362px;
  height: 116px;

  font-family: Inter;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #e4e5ea;
}

#content p {
  width: 247px;
  height: 58px;

  font-family: Inter;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;

  color: #e4e5ea;

  /* text-transform: uppercase;
  color: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */
}
