footer {
  position: relative;
  z-index: 2;
  margin-top: 124px;
  display: flex;
  justify-content: space-between;

  color: #e4e5ea;
}

footer h4 {
  color: #656566;

  margin-bottom: 20px;

  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
footer .company p,
.menu p {
  margin-bottom: 10px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.company {
  margin-right: 98px;
}
.menu {
  flex: 1;
}
.menu div {
  height: 145px;
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: space-between;
}

.menu div p {
  margin-right: 52px;
}

.contacts {
  display: flex;
  justify-content: right;
  flex-direction: column;

  text-align: right;
}

.contacts a {
  margin-top: 22px;
}

.contact_info,
.contact_info p {
  margin-top: 22px;
}

.contact_info a,
.contact_info_tell a {
  width: 143px;
  height: 19px;

  margin-left: 14px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #e4e5ea;

  text-decoration: none;
}
.contact_info img {
  width: 16px;
  height: 16px;
}

.privacy {
  margin-top: 70px;
}

.privacy p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.privacy a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #e4e5ea;
}

@media screen and (max-width: 1200px) {
  footer .company,
  .menu p,
  .contact_info a,
  .contact_info_tell a,
  .contact_info p {
    font-size: 14px;
  }

  .contact_info img {
    width: 14px;
    height: 14px;
  }

  .privacy a {
    font-size: 10px;
  }
}

@media screen and (max-width: 968px) {
  footer .company,
  .menu p,
  .contact_info a,
  .contact_info_tell a,
  .contact_info p {
    font-size: 12px;
  }

  .company {
    margin-right: 58px;
  }

  .privacy a,
  .privacy p {
    font-size: 10px;
  }
}

@media screen and (max-width: 1200px) {
  footer .company p,
  .menu p,
  .contact_info a,
  .contact_info_tell a,
  .contact_info p {
    font-size: 14px;
  }

  .contact_info img {
    width: 14px;
    height: 14px;
  }

  .privacy a {
    font-size: 10px;
  }
  .company,
  .menu,
  .contacts {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 0;
  }

  .menu div p {
    margin-right: 20px;
    overflow: hidden;
  }
}
@media screen and (max-width: 968px) {
  .menu div {
    height: 165px;
  }
  .menu div p {
    width: 120px;
  }

  .menu-1 span,
  .menu-2 span {
    display: none;
  }

  .menu-1::after {
    content: "Благодарность клиентов";
  }

  .menu-2::after {
    content: "Кейсы";
  }
}

@media screen and (max-width: 796px) {
  footer {
    background: #1e1e1e;
    flex-direction: column;
    margin-top: 59px;
  }

  .company,
  .menu,
  .contacts {
    margin-top: 40px;
    margin-left: 20px;
  }

  .contacts {
    justify-content: left;
    text-align: left;
  }

  .company {
    margin-right: 30px;
  }

  .menu div p {
    margin-right: 20px;
  }

  .contact_info a,
  .contact_info_tell a {
    margin-left: 0;
    margin-right: 14px;
  }
  .privacy a,
  .privacy p {
    font-size: 10px;
  }
}
