header {
  position: relative;
  z-index: 2;
  width: 1140px;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}

#logo_welbex p {
  width: 165px;
  height: 24px;
  padding-right: 25px;

  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;

  text-align: justify;

  color: #e4e5ea;
}

#logo_welbex img {
  width: 140px;
  height: 24px;
}

#menu {
  flex: 1;
}

#menu a {
  height: 19px;
  padding-left: 20px;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;

  color: #e4e5ea;

  text-decoration: none;
}

#contact_information a {
  height: 19px;
  margin-left: 32px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #e4e5ea;

  text-decoration: none;
}

#contact_information img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1200px) {
  header {
    width: 900px;
  }

  #menu a {
    font-size: 14px;
  }

  #contact_information a {
    font-size: 14px;
  }

  #contact_information img {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 968px) {
  header {
    width: 756px;
  }

  #menu a {
    font-size: 14px;
  }

  #contact_information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #contact_information a {
    font-size: 14px;
  }

  #contact_information img {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 796px) {
  header {
    width: 100%;

    background: #1e1e1e;
    margin-top: 0px;
    height: 55px;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
  }

  #menu {
    display: flex;
    justify-content: center;
  }

  #menu a {
    margin-left: 10px;
    font-size: 14px;
  }

  #logo_welbex,
  #contact_information {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  header #menu a:last-child {
    display: none;
  }

  header #menu a {
    margin-left: 15px;
    padding-left: 0;
    font-size: 12px;
  }
}
